<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Forte Test Harness">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>api-demo-php-harness/config/bootstrap.php</file>
        </include>
    </source>
</phpunit>
